@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
}

ul, li {list-style: none;}
a {
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 20px 20px;
    border-bottom: 1px solid #acacac;
}

a:hover {
    background-color: #000;
    color: #fff;
    padding-left: 40px;
}


#container {
    width: 1200px;
    margin: 20px auto;
}

#header {
    width: 100%;
    height: 120px;
    line-height: 120px;
    text-align: center;
    border-top: 1px solid #acacac;
    border-bottom: 1px solid #acacac;
}

#left-sidebar {
    width: 250px;
    height: 600px;
    float: left;
}

#contents {
    width: 800px;
    height: 600px;
    background-color: #f0eeee;
    float: left;
    overflow-y: scroll;
    padding: 10px;
}
#contents::-webkit-scrollbar {
    width: 5px;
}
#contents::-webkit-scrollbar-thumb {
    background-color: #3d45bd;
}
#contents::-webkit-scrollbar-track {
    background-color: rgb(127, 136, 255);
}

img {
    width: 300px;
    float: left;
    margin-right: 10px;
}
p {
    font-size: 18px;
}

.floatClearl {clear: left;}

#right-sidebar {
    width: 150px;
    height: 600px;
    border-right: 1px solid #acacac;
    float: right;
}

#right-sidebar p {
    float: right;
    font-size: 12px;
    font-weight: bold;
    padding-right: 5px;
}

.pro {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}
.pro img {
    position: relative;
    left: -50%;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: #000;
    color: #fff;
    clear: left;
}
#footer h2 {
    float: left;
}

#footer p {
    text-align: center;
    line-height: 100px;
}